// Style variables that are used in multiple files.
$darkblue:#1f66e5;
$lightblue: #1fc9e5;
$pink: #e51fc9;
$darkenedblue: darken(#1f66e5, 10%);
$white: #fff;
$border-color: #483d48;
$slate: #708090;

$breakpoint-small: 350px;
$breakpoint-med: 600px;
$breakpoint-med-large: 850px;
$breakpoint-large: 1200px;

%link-hover-effect {
    a {
        display: block;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left:0;
            bottom: -7px;
            height: 0.2rem;
            background-color: #fff;
            width:0;
            transition: width 0.2s;
        }
        &:hover::after {
            width: 100%;
        }
        &:visited, &:hover, &:active, &:focus {
            color: #fff;
        }
    }
    @media (pointer: coarse){
        a {
            &:hover::after {
                display:none;
            }
        }
    }
}